.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* Login/Register */

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 120px;
}

.add-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  margin: 0 10% 0 10%;
  background-color: #dfe9ac;
  padding: 2% 5% 0 5%;
}

.error {
  color: red;
  font-size: 70%;
}

.field {
  background-color: #97be11;
  color: #fbfceb;
  font-size: 0.85rem;
}

::placeholder {
  color: #fbfceb;
}
